parameters:
    paths:
        - src
        - tests
    level: 5
    ignoreErrors:
        - '#Call to an undefined method [a-zA-Z0-9\\_]+::assertJsonValidationErrors\(\)#'
        - '#Call to an undefined method [a-zA-Z0-9\\_]+::assertViewIs\(\)#'
        - '#Call to an undefined method [a-zA-Z0-9\\_]+::assertJsonStructure\(\)#'
    excludePaths:
        - tests/bootstrap.php
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
    reportUnmatchedIgnoredErrors: false